<h1 *ngIf="isAddMode">Crear Cuenta</h1>
<h1 *ngIf="!isAddMode">Editar Cuenta</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-6">
            <label>Nombre</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">El campo Nombre es requerido</div>
            </div>
        </div>
        <div class="form-group col-6">
            <label>Apellido</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">El campo Apellido es requerido</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label>Documento de identidad</label>
            <input type="text" formControlName="identification" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.identification.errors }" />
            <div *ngIf="submitted && f.identification.errors" class="invalid-feedback">
                <div *ngIf="f.identification.errors.required">El campo documento de identidad es requerido</div>
            </div>
        </div>
        <div class="form-group col-6">
            <label>Rol</label>
            <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <option value=""></option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">El campo Rol es requerido</div>
            </div>
        </div>
        <div class="form-group col-6">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">El campo Email es requerido</div>
                <div *ngIf="f.email.errors.email">El campo Email es incorrecto</div>
            </div>
        </div>
    </div>
    <div *ngIf="!isAddMode">
        <h3 class="pt-3">Cambiar Contraseña</h3>
        <p>Dejar en blanco si quiere mantener la misma contraseña</p>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Contraseña</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">El campo Contraseña es requerido</div>
                <div *ngIf="f.password.errors.minlength">El campo Contraseña debe tener al menos 6 caracteres</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Confirmar contraseña</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">El campo Contraseña es requerido</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Los campos de contraseñas no coinciden</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
            <i class="icofont-save"></i> Guardar
        </button>
        <a routerLink="/admin/accounts" class="btn btn-danger"><i class="icofont-ui-close"></i> Cancelar</a>
    </div>
</form>